header {
    background: #fff url('../images/logoschool.png') 20px center no-repeat;
    border-bottom: 1px solid #ccc;
    height: 70px;
    width: 100%;
    background-color: #f5efef;
    margin: 0;
    padding: 0;
  }
  .logo img {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 1%;
    width: 15%;
    height: 10%;
    max-height: 2cm;
    max-width: 2cm;

  }
  

  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; /* Bordure légèrement grise */
    border-radius: 25px; /* Coins arrondis pour un aspect arrondi */
    overflow: hidden; /* Cache le contenu qui dépasse la limite */
    width: 70%; /* Largeur maximale de la zone de recherche */
    padding: 12px; /* Espacement interne pour le conteneur */
    background-color: #fff; /* Fond blanc */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    height: 8mm;
    position: absolute; /* Position absolue pour positionner en haut à droite */
    top: 10px; /* Distance par rapport au haut de la page */
    right: 10px; /* Distance par rapport à la droite de la page */


}

#search-bar {
  flex: 1; /* Le champ de recherche prend toute la largeur disponible */
  border: none; /* Pas de bordure autour du champ de recherche */
  outline: none; /* Supprime la bordure de focus par défaut */
  font-size: 16px; /* Taille de police */
  border-radius: 0 25px 25px 0; /* Coins arrondis à droite */
}

#search-button {
  display: flex;
  background-color: rgb(214, 27, 27);
  height: 9mm;
  color: #fff; /* Texte en blanc */
  border: 1px solid blanchedalmond; /* Pas de bordure autour du bouton */
  border-radius: 25px;
  padding: 12px 20px; /* Rembourrage à l'intérieur du bouton */
  width: 2cm;
  cursor: pointer; /* Curseur de main au survol du bouton */
}
#search-button:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: rgb(33, 204, 107); /* Changez la couleur de fond en orange au survol */
    z-index: 2; 
}
@media (max-width: 768px) {
  header {
      flex-direction: column; /* Empilez les éléments verticalement */
      text-align: center; /* Centrez le texte et le logo */
      padding: auto;
  }
  .logo img {
    width: 10%;
    height: 8mm;
    margin-right: 15cm;
    margin-top: 10px;
}

  .search-container {
      height: 6mm;
      width: 70%; /* Utilisez toute la largeur de l'écran */
      max-width: 400px; /* Limitez la largeur maximale pour une meilleure lisibilité */
      margin-top: 8px; /* Ajoutez de l'espace entre le logo et la zone de recherche */
  }

  #search-bar {
    font-size: 12px;  
    border-radius: 25px; /* Rétablissez les coins arrondis */
  }

  #search-button {
      content: center;
      width: 20mm;
      padding-bottom: 5mm;
      height: 4mm;
      border-radius: 25px; /* Rétablissez les coins arrondis */
      margin-top: 4px; /* Ajoutez de l'espace entre le champ de recherche et le bouton */
  }
}

/* Ajoutez une media query pour les écrans mobiles */
@media (max-width: 480px) {
  header {
      
      padding: 10px; /* Réduisez l'espacement intérieur */

  }
}