.separateur{
    border: 1px solid rgb(96, 104, 112);
    width: 2cm;
    height: 20cm;
    top: 6cm;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    display: flex;

}
#planing{
    background-image: url(images/planing.png);
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(143, 143, 158);
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: rgb(226, 65, 65);
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease; /* Ajoute des transitions pour le mouvement et la couleur de fond */
    position: relative; /* Ajoutez une position relative pour pouvoir placer le fond coloré */
    z-index: 1;
    }

#notes{
    background-image: url(images/score.png);
    background-size: cover;
    border: 1px solid rgb(143, 143, 158);
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: rgb(226, 65, 65);
    margin-bottom: 20px;
    cursor: pointer;

}

#projects{
    background-image: url(images/project.png);
    background-size: cover;
    border: 1px solid rgb(143, 143, 158);
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: rgb(226, 65, 65);
    margin-bottom: 20px;
    cursor: pointer;
}
#raport{
    background-image: url(images/rapport.png);
    background-size: cover;
    border: 1px solid rgb(143, 143, 158);
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: rgb(226, 65, 65);
    margin-bottom: 20px;
    cursor: pointer;
}
#activites{
    background-image: url(images/jeux.png);
    background-size: cover;
    border: 1px solid rgb(143, 143, 158);
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: rgb(226, 65, 65);
    margin-bottom: 20px;
    cursor: pointer;
    
}
#profile{
    background-image: url(images/profi.jpg);
    background-size: cover;
    border: 1px solid rgb(143, 143, 158);
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: rgb(226, 65, 65);
    margin-bottom: 20px;
    cursor: pointer;
}
#ask_gpt{
    background-image: url(images/ask_gpt.png);
    background-size: cover;
    border: 1px solid rgb(143, 143, 158);
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: rgb(226, 65, 65);
    margin-bottom: 20px;
    cursor: pointer; 
}
#ask_gpt:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: orange; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(28, 214, 112);
}
#profile:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: orange; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(27, 217, 113);
}
#planing:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: orange; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(29, 201, 106);
} 
#notes:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: orange; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(29, 215, 113);
} 
#projects:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: orange; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(29, 213, 112);
} 
#activites:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: orange; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(28, 207, 109);
} 
#raport:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: orange; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(25, 209, 108);
} 
#culters {
    background-image: url(images/cul.png);
    background-size: cover;
    border: 1px solid rgb(143, 143, 158);
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: rgb(226, 65, 65);
    margin-bottom: 20px;
    cursor: pointer;
}
#culters:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: orange; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(22, 196, 100);
}