.separateur {
    border: 1px solid rgb(96, 104, 112);
    width: 2cm;
    height: 20cm;
    top: 6cm;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    display: flex;

}
#home{
    background-image: url(images/home-solid-240.png);
    background-size: cover;
    background-position: center;
    border: 1px solid white;
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    
    }

#planing{
    background-image: url(images/clipboard-regular-240.png);
    background-size: cover;
    border: 1px solid white;
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;

}

#projects{
    background-image: url(images/cog-solid-240.png);
    background-size: cover;
    border: 1px solid white;
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
}
#raport{
    background-image: url(images/file-blank-solid-240.png);
    background-size: cover;
    border: 1px solid white;
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
}
#activites{
    background-image: url(images/football-regular-240.png);
    background-size: cover;
    border: 1px solid white;
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
    
}
#profile{
    background-image: url(images/profi.jpg);
    background-size: cover;
    border: 1px solid rgb(143, 143, 158);
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: rgb(226, 65, 65);
    margin-bottom: 20px;
    cursor: pointer;
}
#ask_gpt{
    background-image: url(images/ask_gpt.png);
    background-size: cover;
    border: 1px solid rgb(143, 143, 158);
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: rgb(226, 65, 65);
    margin-bottom: 20px;
    cursor: pointer; 
}
#ask_gpt:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: orange; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(28, 214, 112);
}
#profile:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: orange; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(27, 217, 113);
}
#home:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: beige; /* Changez la couleur de fond en orange au survol */
    border: 2px solid rgb(29, 213, 112);
    z-index: 2;
} 
#planing:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: beige; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(29, 215, 113);
} 
#projects:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: beige; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(29, 213, 112);
} 
#activites:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: beige; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(28, 207, 109);
} 
#raport:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: beige /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(25, 209, 108);
} 
#culters {
    background-image: url(images/cul.png);
    background-size: cover;
    border: 1px solid rgb(143, 143, 158);
    border-radius: 30px;
    width: 18mm;
    height: 18mm;
    background-color: rgb(226, 65, 65);
    margin-bottom: 20px;
    cursor: pointer;
}
#culters:hover{
    transform: translateY(3px); /* Déplace le bouton vers le bas de 3 pixels au survol */
    background-color: orange; /* Changez la couleur de fond en orange au survol */
    z-index: 2;
    border: 2px solid rgb(22, 196, 100);
}

button:hover::before {
    content: attr(value); /* Afficher le nom du bouton */
    position: absolute;
    top: -30px; /* Ajuster la position verticale au-dessus du bouton */
    left: 50%;
    transform: translateX(-50%); /* Centrer horizontalement */
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1; /* Assurer que le texte est au-dessus du bouton */
    opacity: 0; /* Le rendre invisible initialement */
    transition: opacity 0.3s ease-in-out;
}