section{
    height: 20cm;
    width: 100%;
    background-color:whitesmoke;
}

.menu{
    display: flex;
    float: left;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    height: auto;
    width: 9%;
    background-color:white ;
    box-sizing: border-box;
}

.inside{
    margin-left: 5px;
    display: flex;
    background-color: white;
    float: left;
    height: auto;
    width: 89%;
    box-sizing: border-box;
    font-size: 29px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-top: none;
    border-right: none;

}
.menu{
    display: flex;

}
.menu a{
    display: flex;
    width: 2cm;
    height: 2cm;
    font-size: 70px;
    margin-left: 10px;
    color: rgba(14, 14, 13, 0.58);
    border: none;
    text-decoration: none;

 
}
.menu i:hover{
   transform: scale(1.1);
    color: #EE1C47;

}

canvas{
    border: 1px solid rgb(108, 96, 96);
    border-radius: 15px;
}

#effacerCanvas{
    border: 1px solid  rgb(108, 96, 96);
    border-radius: 15px;
}

button:hover{
    background-color: rgb(63, 171, 63);
}

.vedio{
    background-color: #f5efef;
    margin-left: 1cm;
    margin-top: 1cm;
    border: 1px solid #f5efef;
    border-radius: 15px;
}
h1{
    font-size: 50px;
    color: #EE1C47;

}
h2{
    font-size: 55px;
    color: black;
}
.upd{
    background-color: bisque;
    border-radius: 15px;
    font-size: 17px;
    padding-top: 1cm;
}

/* styles.css */

/* Style du formulaire */
form {
    margin: 20px; /* Marge autour du formulaire */
    padding: 20px; /* Espacement interne du formulaire */
    border: 1px solid #e61c1c; /* Bordure autour du formulaire */
    border-radius: 5px; /* Coins arrondis */
    background-color: #f9f9f9; /* Couleur de fond */
}

/* Style du champ de téléchargement de fichier */
input[type="file"] {
    margin-right: 10px; /* Marge à droite du champ de fichier */
}

/* Style du bouton d'envoi */
button[type="submit"] {
    background-color: #3498db; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Espacement interne du bouton (haut/bas, gauche/droite) */
    border: none; /* Supprimer la bordure par défaut */
    border-radius: 5px; /* Coins arrondis du bouton */
    cursor: pointer; /* Curseur de type main (comme un lien) au survol */
}

/* Style au survol du bouton */
button[type="submit"]:hover {
    background-color: #2980b9; /* Nouvelle couleur de fond au survol */
}


.annonce {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
}
.annonce img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
